<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Velonia</h5>
        <p>Your one-stop shop for fashion.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-light">About Us</a></li>
          <li><a href="/contact" class="text-light">Contact</a></li>
          <li><a href="/terms" class="text-light">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us</h5>
        <div class="social-links">
          <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-light"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>